<ion-header>
  <ion-navbar>
    <ion-title>
      Complexus SMS Application
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <textarea [(ngModel)]="logs" readonly>

  </textarea>
</ion-content>
